:host {
  height: calc(100vh - 46px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container {
  width: 100%;
  height: 600px;
}

.node text {
  user-select: none;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1;
}

.orbit {

  .node.active .gauge .filter-circle {
    fill: rgba(255, 255, 255, .7);
    filter: url(#drop-shadow);
  }

  &.orbit0 .light-tips {
    display: none;
  }

  &:not(.orbit0) .node {
    .labels .profit-ratio {
      display: none;
    }

    .full-tips {
      opacity: 0;
      transition: opacity .3s linear;
    }

    .light-tips {
      opacity: 1;
      transition: opacity .3s linear;
    }

    &.active {
      .labels .profit-ratio {
        display: block;
      }

      .full-tips {
        opacity: 1;
      }

      .light-tips {
        opacity: 0;
      }
    }
  }
}

.next-page, .prev-page {
  opacity: 0;
}

#chartSvg {
  // hide inner text in orbit1 when orbit2 expanded 
  &.expanded .orbit1 .node--leaf:not(.active) .light-tips {
    display: none;
  }

  &.in-transition {
    .link, .link-label {
      visibility: hidden;
    }
  }
}
