circle {
  stroke-width: 1px;
}

.opacityPointOne {
  opacity: 0.1;
}

.opacityPointSix {
  opacity: 0.6;
}

.opacityPointNine {
  opacity: 0.9;
}

.strokeYellow {
  fill: rgb(235, 220, 81);
}

.strokeGray {
  fill: rgb(178, 178, 178);
}

.strokeOrange {
  fill: rgb(277, 110, 21);
}

.transparentFill {
  // transparent fill to occupy own place
  fill: rgba(255, 255, 255, 0);
}

.noFill {
  fill: 'none';
}

.noPointerEvent {
  pointer-events: none;
}
