// Settings
@import "_theme.scss";

:host {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

  svg {
    width: 60px;
    * {
      fill: inherit;
    }
  }

  .label {
    font-size: 1.4rem;
  }

  /* style cross shadow-dom */
  use.icon {
    fill: $gray7;
  }
}