// Settings
@import "_theme.scss";

:host {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);

  .label {
    font-size: 1.4rem;
  }

  .icon {
    font-size: 40px;
    transform: translateY(-20px);
    fill: $gray7;
  }
}