:host {
  width: 100%;
  display: flex;
}

$related-info-width: 260px;
$kpi-legend-circle-r: 25px;
$gap: 10px;

$gray: rgb(148, 147, 146);
$orange: rgb(232, 136, 56);
$yellow: rgb(236, 219, 84);
$color-set: $orange $yellow $gray;

.asset-texts {
  .text-root {
    .text-top text:not(.asset-name),
    .text-center {
      display: none;
    }
  }
}

#chart { 
  width: calc(100% - #{$related-info-width});
  height: calc(100vh - 30px);
  background-color: #000;

  text {
    user-select: none;
    pointer-events: none;
  }
}

.related-info {
  width: $related-info-width;
  margin-top: 10vh;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-select {
  input[type=radio] {
    display: none;
  }

  .btn {
    width: 120px;
    display: block;
  }
}

px-dropdown {
  width: 180px;
  margin-bottom: 30px;
}

.kpis {
  padding-top: 30px;

  .kpi {
    display: flex;
    align-items: center;
    font-size: 16px;
    
    &::before {
      display: inline-block;
      content: '';
      width: $kpi-legend-circle-r;
      height: $kpi-legend-circle-r;
      margin-right: $gap;
      border-radius: 50%;
      background-color: $yellow;
    }

    @each $num in (1,2,3) {
      &.kpi-#{$num - 1}::before {
        background-color: nth($color-set, $num);
      }
    }
  }

  .kpi-detail {
    margin-left: $kpi-legend-circle-r + $gap;
  }
}

.legend {
  display: flex;
  align-items: center;
  line-height: 1.5;
  text-align: left;

  .legend-tip {
    margin-left: 5px;
  }

  .svg-icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.3em;
    fill: currentColor;
    overflow: hidden;
  }
}
