$sidebar-width: 300px;
$kpi-legend-circle-r: 25px;
$gap: 10px;

$brand: #5b84d7;
@import "../../styles/variables.scss";

$green: rgb(70, 175, 155);

$gray: rgb(148, 147, 146);
$orange: rgb(232, 136, 56);
$yellow: rgb(236, 219, 84);

$color-set: $orange $yellow $gray;
$border-color: rgb(186, 186, 186);

$tab-active-color: rgb(31, 105, 266);

.sidepanel {
  text-align: center;

  :global {
    .dewicon-circle-high {
      color: #b3b3b3;
    }

    .dewicon-circle-low {
      color: $brand-warning;
    }

    .dewicon-circle-full {
      color: $brand-danger;
    }
  }
}

.tabs {
  display: inline-block;
  position: relative;

  .sliding {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $brand;
    height: 2px;
    transition: .2s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
  }

  li {
    flex: 1;
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    text-align: center;

    &:hover,
    &.active {
      color: $brand;
    }
  }
}

.tabContent {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 10px;
  overflow-x: hidden;
  text-align: left;
  background-color: white;
}

:global {
  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    padding-bottom: 0px;
    margin-bottom: -15px;
  }
}