.texts {
  text {
    text-anchor: middle;
    pointer-events: none;
  }
}

.inline {
  // display: inline;
  // opacity: 1;
  visibility: visible;
}

.hidde {
  // display: none;
  // opacity: 0;
  visibility: visible;
}

.noPointerEvent {
  pointer-events: none;
}
