$filtersHeight: 50px;

.container {
  font-size: 14px;
  // reset for shell.css
  line-height: 1.5 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: '#6b6b6b';
}

.filters {
  height: $filtersHeight;
  padding: 10px;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$filtersHeight});
  position: relative;
}


.leftPager,
.rightPager {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.leftPager {
  left: 10px;
}

.rightPager {
  right: 10px;
}

.asset,
.group {
  flex: 1;
  height: 100%;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

.groupby {
  position: absolute;
  right: 200px;
  top: 20px;
}
