// Settings
@import "px-colors-design/_settings.colors.scss";

$label-text-color: $gray8;
$series-line-color: rgba($dv-light-gray, .1);

:host {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  position: relative;
}

.dimension-title.name {
  display: none;
}

.sorting-dropdown {
  position: absolute;
  width: 145px;
  top: -10px;
  left: 70px;
}

.canvas {
  width: 100%;
  height: 100%;
}

.background path {
  fill: none;
  stroke: none;
  stroke-width: 20px;
  pointer-events: stroke;
}

.foreground path {
  fill: none;
  stroke: $series-line-color;
  stroke-width: 1.5px;
}

.benchmark path {
  fill: none;
  stroke: none;
}

.chart-body text {
  fill: $label-text-color;
}

.axis text {
  text-anchor: middle;

  &.label {
    font-size: 1rem;
    text-transform: uppercase;
    text-anchor: end;
  }

  &.title {
    font-weight: bold;
  }
}

.axis line,
.axis path {
  fill: none;
  stroke: $label-text-color;
  shape-rendering: crispEdges;
}

.sector {
  opacity: .7;

  rect {
    fill: rgba($dv-dark-blue, .8);
  }

  .label {
    fill: $gray1;
    writing-mode: tb;
    font-size: .8rem;
    cursor: default;
  }
}

.label {
  transition: fill 125ms linear;
}

.value-group {
  .value {
    opacity: 0;
    transition: opacity linear .15s;

    &.active {
      opacity: 1;
    }
  }

  .actual-val {
    fill: $dv-basic-blue;
  }

  .benchmark-val {
    fill: $dv-basic-purple;
  }
}

.chart-body.active {
  .sector.active {
    opacity: 1;
    .label {
      fill: $white;
    }
  }
  .axis text.active {
    fill: $dv-basic-blue;
    font-weight: bold;
  }
  .foreground path.active {
    stroke: $dv-basic-blue;
    stroke-width: 3px;
  }
  .benchmark path.active {
    stroke: $dv-basic-purple;
    stroke-width: 3px;
  }
}
