.layout-compact .layout-wrapper {
  .layout-main {
    padding-top: 1rem;
    background-color: rgba(234, 234, 234, 1);
    min-height: 100vh;
  }

  .layout-profile {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: $gray10;
    font-size: 1.2rem;
  }
}