/// @type Number [default] - Heading size 1
$inuit-heading-size-1: 75px !default;

/// @type Number [default] - Heading size 2
$inuit-heading-size-2: 60px !default;

/// @type Number [default] - Heading size 3
$inuit-heading-size-3: 45px !default;

/// @type Number [default] - Heading size 4
$inuit-heading-size-4: 30px !default;

/// @type Number [default] - Heading size 5
$inuit-heading-size-5: 20px !default;

/// @type Number [default] - Heading size 6
$inuit-heading-size-6: 12px !default;

$inuit-enable-layout--huge: true;
$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;
$inuit-enable-margins: true;
$inuit-enable-margins--tiny: true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--tiny: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--rtl: true;
$inuit-enable-paddings--none: true;

$inuit-enable-btn--primary: true;
$inuit-enable-btn--large: true;

$inuit-enable-table--small: true;
