@import "predix";
@import "objects";
@import "datatable";
@import "charts";

.device-block {
  padding: .8rem;
  background-color: $gray2;
  border-top: 10px solid $dv-basic-green;

  &--alert {
    border-top-color: $dv-dark-red;
  }

  &-title {
    margin: 0;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray6;
  }

  > h1, h2, h3, h4, p {
    margin: .5rem 0;
  }

  > hr {
    border-width: 0;
    background-color: transparent;
    border-bottom: 1px solid $gray6;
  }

  &-subtitle {
    color: $gray6;
  }

  .chart {
    height: 100px;

    &-with-legend table.jqplot-table-legend{
      display: block;
      width: auto;
      top: -140px !important;
      right: 0 !important;
      background-color: transparent;
    }
  }

  .jqplot-target {
    margin-top: 15px;
  }
}

a.device-block {
  display: block;
  color: inherit;
  &:hover, &:link, &:visited {
    color: inherit;
  }
}

.device-brief-list, .device-details-list {
  table.jqplot-table-legend {
    display: none;
  }
}

@keyframes slide-in {
  to {
    max-height: 1000px;
  }
}
@keyframes slide-out {
  to {
    max-height: 0;
  }
}

.device-details-list {
  margin: 5px;
  border: 1px solid $gray6;
  border-top-width: 0;

  .device-block-wrapper {
    overflow: hidden;
    animation-name: slide-out;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    max-height: 0;

    &:target {
      animation-name: slide-in;
      animation-delay: .7s;
    }
  }
}

.text--alert {
  color: $dv-dark-red;
}