@import "predix";
@import "objects";

.layout-wrapper .layout-main {
  padding-left: 0;
  padding-right: 0;
}

.jqplot-xaxis-label, .jqplot-yaxis-label, .jqplot-y2axis-label, .jqplot-x2axis-label {
  color: #757575;
}

table.jqplot-table-legend {
  background-color: #ffffff;
  color: #757575;
  border-color: #bdbdbd;
}

.jqplot-point-label {
  color: #ffffff
}

.card--summary {
  min-height: 128px;
}