@import "predix";
@import "objects";

.status {
  @include squareBefore();
}

// event tooltip styles
.event-tooltip {
  background-color: #fff;
  color: $gray8;

  .title {
    color: #000;
    font-size: larger;
    font-weight: bolder;
  }
}

$type-1: rgba(96, 165, 215, 1);
$type-2: rgba(247, 162, 71, 1);
$type-3: rgba(99, 187, 108, 1);
$type-4: rgba(238, 126, 175, 1);
$type-5: rgba(176, 143, 57, 1);
$type-6: rgba(222, 207, 64, 1);

$type-color: $type-1 $type-2 $type-3 $type-4 $type-5 $type-6;


@mixin get-bgc($num) {
  background-color: nth($type-color, $num);
}

@mixin get-color($num) {
  color: nth($type-color, $num);
}

.event-counts {
  height: 50px;
}

.event-count {
  font-size: 36px;
}

@each $num in (1,2,3,4,5,6) {
  .event-type-#{$num} {
    @include get-color($num);
  }
}

.calendar {
  background-color: #fff;
  border-radius: 5px;
}

.main-body {

  .fc {

    @each $num in (1,2,3,4,5,6) {
      .fc-event.event-type-#{$num} {
        @include get-bgc($num);
      }
    }

    // reset fc-event default styles

    .fc-event {
      line-height: 2;
      color: #fff;
      border-radius: 0;
      border-width: 0;
    }
  }

  // reset ui-tooltip default styles
  .ui-tooltip.ui-widget.ui-shadow.ui-corner-all {
    box-shadow: none;
  }
}
