@import "predix";
@import "objects";

.status {
  @include squareBefore();
}

// event tooltip styles
.event-tooltip {
  background-color: #fff;
  color: $gray8;

  .title {
    color: #000;
    font-size: larger;
    font-weight: bolder;
  }
}

$type-1: rgba(96, 165, 215, 1);
$type-2: rgba(247, 162, 71, 1);
$type-3: rgba(99, 187, 108, 1);
$type-4: rgba(238, 126, 175, 1);
$type-5: rgba(176, 143, 57, 1);
$type-6: rgba(222, 207, 64, 1);

$type-color: $type-1 $type-2 $type-3 $type-4 $type-5 $type-6;


@mixin get-bgc($num) {
  background-color: nth($type-color, $num);
}

@mixin get-color($num) {
  color: nth($type-color, $num);
}

.event-counts {
  height: 60px;
}

.event-count {
  font-size: 50px;
  font-weight: bold;
  font-family: "GE Inspira Sans";
}

@each $num in (1,2,3,4,5,6) {
  .event-type-#{$num} {
    @include get-color($num);
  }
}

.calendar {
  background-color: #fff;
  border-radius: 5px;
}

// date prev/next btn

.date-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: $dv-basic-blue;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid $gray4;
}

.main-body {

  .fc {
    // different event type class

    @each $num in (1,2,3,4,5,6) {
      .fc-event.event-type-#{$num} {
        @include get-bgc($num);
      }
    }

    // reset fc-event default styles

    .fc-event {
      line-height: 2;
      color: #fff;
      border-radius: 0;
      border-width: 0;

      &.closed {
        opacity: .5;
      }
    }

    .fc-toolbar {
      margin-top: 10px;
      height: 40px;
      position: relative;
    }

    .fc-center {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate3d(-50%, 0, 0);
    }

    .fc-left {
      position: absolute;
      left: 0;
      top: 0;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;

        > h2 {
          width: 170px;
          text-align: center;
        }
      }

      .fc-prev-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .fc-next-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .fc-today-button {
        border-radius: 0;
        border-left-width: 0 !important;
        border-right-width: 0 !important;
        box-shadow: none !important;
      }

      .fc-next-button,
      .fc-prev-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: $dv-basic-blue;
        background-color: #fff;
        border: 1px solid $gray4;
        outline: none!important;
        box-shadow: none;

        .ink {
          display: none;
        }
      }
    }

    .ui-widget-header {
      background-color: #fff!important;
    }

    .fc-bg .fc-today {
      background-color: transparent;
    }

    .fc-content-skeleton {
      .fc-day-number {
        padding-left: 15px;
        padding-top: 12px;
        text-align: left;
        font-size: 24px;
      }

      .fc-today {
        position: relative;

        &::after {
          position: absolute;
          left: 10px;
          top: 5px;
          z-index: -1;
          display: block;
          content: '';
          border-radius: 50%;
          background-color: $dv-basic-blue;
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  .calendar-footer {
    text-align: right;
  }

  // reset ui-tooltip default styles
  .ui-tooltip.ui-widget.ui-shadow.ui-corner-all {
    box-shadow: none;
  }
}
