@charset "UTF-8";
.ui-icon-carat-2-n-s:before {
/* content: ""; */
content: ""; 
/* content: ""; */
/*content: ""; */
float: top;
position: absolute;
color:#bdbdbd;}

.ui-icon-triangle-1-n:before {
/*  content: ""; */
content: ""; 
color:#bdbdbd;}

.ui-icon-triangle-1-s:before {
/*  content: ""; }*/
content: "";
color:#bdbdbd;}

.ui-selectonemenu-trigger > .ui-icon-triangle-1-s:before {
content: ""; }
