.ui-growl{
z-index: 9999!important;
}
.ui-growl-item{
background-color: rgb(255, 193, 7)!important;
}
.ui-growl-message{
color: black!important;
}
.ui-dialog{
z-index: 1900!important;
}
.ui-datepicker{
z-index: 2000!important;
}
.ui-selectonemenu-panel {
z-index: 2000!important;
}
.layout-wrapper.menu-layout-overlay .topbar {
z-index: 1800!important;
}
.login-panel{
min-height: 200px!important;
}
.ui-chkbox {
width: 95%!important;
}
.ui-chkbox .ui-state-focus .ui-icon-check{
background-color: #3e464c!important;
}
.ui-chkbox .ui-chkbox-box .ui-icon-check{
color: #ffffff!important;
}
.ui-tree .ui-chkbox {
width: 18px!important;
}
.labelOnTop {
position: relative!important;
top: -100%!important;
color: #999!important;
font-size: 12px!important;
}
.md-inputfield label{
color: #999!important;
}
.popupIconButton{
background-color: #757575!important;
float: right!important; 
top: -28px!important;
height:26px!important;
width: 16px!important;
}