.ui-steps:before {
margin: 5px!important;
content: ' ';
left: 10px!important;
width: 600px!important;
border: 0!important;
}
.ui-steps .ui-steps-item .ui-menuitem-link {
margin: 5px;
top: 5px!important;
width: 100px!important;
height: 30px!important;
background-color: #5180ce!important;
/*background-color: rgb(0, 188, 212)!important;*/
cursor: pointer!important;
text-decoration: none!important;
display: block!important;
padding: 0!important;
padding-top: 5px!important;
position: relative!important;
text-align: center!important;
}
.ui-steps .ui-steps-item.ui-state-disabled .ui-menuitem-link {
background-color: #bdbdbd!important;
}
.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
cursor: pointer!important;
background-color: #5180ce!important;
}
.ui-steps .ui-steps-title {
color: white!important;
font-weight: normal!important;
}
.ui-steps-number {
background-color: transparent!important;
}

.ui-steps.list .ui-steps-item.ui-state-highlight .ui-menuitem-link {
cursor: pointer!important;
background-color: #bdbdbd!important;
}
.ui-steps.list .ui-steps-item .ui-steps-title {
color: white!important;
font-weight: normal!important;
}
