.ui-datatable {
	$paginator-size: 2rem;

	thead th {
		.ui-icon-carat-2-n-s:before {
			/* arrow-up-down */
			content: "";
			color: #bdbdbd;
		}

		.ui-icon-triangle-1-n:before {
			/* arrow-up */
			content: "";
		}

		.ui-icon-triangle-1-s:before {
			/* arrow-down */
			content: "";
		}

		&.ui-state-active,
		&.ui-state-highlight {
			outline: none;
		}
	}
	.ui-paginator {

		.ui-paginator-pages {
			padding: 0;
			margin: 0;
		}

		.ui-paginator-first,
		.ui-paginator-prev,
		.ui-paginator-next,
		.ui-paginator-last,
		.ui-paginator-pages a {
			padding: 0;
			width: $paginator-size;
			height: $paginator-size;
			line-height: $paginator-size;
			text-align: center;
		}

		.ui-paginator-first,
		.ui-paginator-prev,
		.ui-paginator-next,
		.ui-paginator-last {
			&:before {
				left: auto;
			}
		}

		select {
			height: 2rem;
			min-width: 60px;
			background-color: transparent;
			border: 1px solid $inuit-btn-border-color;
			border-radius: 3px;
			cursor: pointer;
			margin: 0 10px;
			font-size: 14px;
		}
	}
}