@import "predix";
@import "objects";
@import "charts";

.block {
  position: relative;
}

.jqplot-point-label {
  transform: translateX(10px);
}

.revenue-pie-chart table.jqplot-table-legend {
  top: 20px !important;
}
