src/bower_components/
src/logs
src/node_modules/
src/target/
src/src/main/webapp/resources/css
src/src/main/webapp/resources/elements/**/*-styles.html
.idea/
*.iml
src/sql/test_data.sql
src/src/main/webapp/about.html