.layout-compact .layout-wrapper {
  $highlight-color: rgba(91, 132, 215, 1);
  $default-color: $gray7;

  px-dropdown {
    .dropcell.px-dropdown {
      border-radius: 1rem;
      background-color: transparent;
      border-color: $default-color;

      &:hover {
        border-color: $highlight-color;
        px-dropdown-text, px-dropdown-chevron {
          color: $highlight-color;
        }
        .dropcell.px-dropdown {
          border-color: $highlight-color
        }
      }
    }

    px-dropdown-text, px-dropdown-chevron {
      color: $default-color;
    }

    .px-dropdown--content {
      color: $default-color;
      background: transparent;
      border-color: transparent;
      text-align: left;
    }

    .px-dropdown--listitem:hover {
      background-color: transparent;
      color: $highlight-color;
    }
  }

  .btn-group {
    .btn {
      border-radius: 1rem !important;
      color: $default-color;
      background-color: transparent;
      border-color: $default-color;

      &:hover {
        color: $highlight-color;
        border-color: $highlight-color;
      }
    }

    input:checked + {
      .btn, .btn:hover, .btn:focus, .btn:active {
        background: $highlight-color !important;
        border-color: $highlight-color !important;
        color: $white !important;
        box-shadow: none !important;
      }
    }
  }
}
