@import "predix";

.layout-compact .layout-wrapper {
  $menu-width: 150px;
  $highlight-color: rgba(91, 132, 215, 1);
  $brand-color: #d1d0d8;
  $menu-bg-color: rgba(36, 35, 38, 1);
  $menu-bg-color-darker: $black;
  $icon-size: 50px;
  $icon-size-inactive: 50px;

  &.menu-layout-static .layout-main {
    margin-left: $menu-width;
  }

  &.menu-layout-static.layout-menu-static-inactive {
    .layout-main {
      margin-left: 75px;
    }

    /* slide in brand text */
    .brand {
      h1 {
        max-width: 0;
      }
    }

    .layout-menu.layout-menu-dark {
      margin-left: 0;
      width: $menu-width/2;

      ul.ultima-menu li i:first-child {
        width: $icon-size-inactive;
        height: $icon-size-inactive;
        & + span {
          visibility: hidden;
        }
      }

      /* level2 menu shall be hidden in inactive menu */
      ul.ultima-menu ul {
        display: none !important;
      }
    }
  }

  /* initialize transition */
  .brand {
    line-height: 2.5rem;
    margin: 10px;

    h1 {
      max-width: 150px;
      overflow-x: hidden;
      margin: 0;
      transition: max-width, .4s;
    }
  }

  .ul.ultima-menu li i:first-child {
    transition: transform, border-color .4s;
  }

  .layout-menu.layout-menu-dark {
    top: 0 !important;
    overflow-y: hidden !important;
    background-color: $menu-bg-color;
    width: $menu-width;
    transition: width .4s;
    margin-left: 0 !important;

    .menu-content {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 170px);
      &::-webkit-scrollbar {
        display: none;
      }
    }

    /* level2 menu & item */
    ul.ultima-menu ul {
      background-color: $menu-bg-color-darker;
      & > li > a {
        text-align: left;
        padding: .5rem 1.5rem;
      }
    }

    /* level1/2 menu item active */
    ul.ultima-menu li.active-menuitem > a {
      background-color: transparent;
      border-right-color: $highlight-color;
    }

    /* level1 menu icon*/
    ul.ultima-menu li  i:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size: 1.8rem;
      color: $gray7;
      border: 2px solid $gray7;
      width: $icon-size;
      height: $icon-size;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;

      & + span {
        padding-top: 0;
      }
    }

    ul.ultima-menu li > a {
      text-align: center;
      white-space: nowrap;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      padding: 5px 0;

      &:hover {
        background-color: transparent;
        > i:first-child, > span {
          color: $highlight-color;
          border-color: $highlight-color;
        }
      }
    }

    ul.ultima-menu li i:last-child {
      display: none;
    }
  }

  .brand {
    svg {
      fill: $brand-color;
      vertical-align: middle;
    }

    h1 {
      color: $brand-color;
      font-weight: 200;
    }
  }

  #menu-button {
    display: block;
    text-align: center;

    > .material-icons {
      color: $brand-color;
      font-size: 2rem;
    }

    &:hover {
      > .material-icons {
        color: $highlight-color;
      }
    }
  }
}