$sidepanel-width: 300px;

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - #{$sidepanel-width});
  height: 100%;
}

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: $sidepanel-width;
  height: 100%;
}

$filterBarHeight: 50px;

.filterBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $filterBarHeight;
}

.chartWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% - #{$filterBarHeight});
  margin-top: 50px;  
}
