$sidepanelWidth: 320px;
$sidebarRight: 10px;
$gap: 15px;

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 14px;
  line-height: 1.5 !important;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - #{$sidepanelWidth + $sidebarRight + $gap});
  height: 100%;
}

.sidebar {
  position: absolute;
  right: $sidebarRight;
  top: 60px;
  width: $sidepanelWidth;
  height: calc(100% - 60px);
}

$filterBarHeight: 50px;

.filterBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $filterBarHeight;
}

.chartWrapper {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100% - #{$filterBarHeight});
  margin-top: 50px;  
}
